{% extends "InfiniteImportBundle::layout.html.twig" %}

{% set form = data.form %}
{% set import = data.import %}
{% set processor = data.processor %}

{% form_theme form.fields _self %}

{% block infinite_import_content %}
<h1>Process import {{ import.filename }} with {{ ('processor_' ~ processor.key) | trans }}</h1>

{{ form_start(form) }}
    {{ form_row(form.fields) }}
{{ form_end(data.form) }}
{% endblock infinite_import_content %}

{% block _infinite_import_process_fields_row %}
<table>
    <thead><tr>
        <th>Field</th>
        <th>Description</th>
        <th>Required</th>
        <th>Column</th>
    </tr></thead>
    <tbody>
    {% for row in form.children %}
    {{ form_widget(row) }}
    {% endfor %}
    </tbody>
</table>
{% endblock _infinite_import_process_fields_row %}

{% block _infinite_import_process_fields_entry_widget %}
{% set field = form.vars.value %}
{% set import = form.parent.parent.vars.value.import %}
<tr>
    <td>{{ field.name }}</td>
    <td>{{ ('import.description.' ~ import.processorKey ~ '.' ~ (field.name | lower)) | trans }}</td>
    <td>{{ field.required ? 'Yes' : 'No' }}</td>
    <td>{{ form_widget(form.populateWith) }}</td>
</tr>

{% endblock _infinite_import_process_fields_entry_widget %}
