{% extends "InfiniteImportBundle::layout.html.twig" %}

{% block infinite_import_content %}
<h1>All Imports</h1>

<a href="{{ path('infinite_import_upload') }}">Upload new file</a>

<table>
    <thead><tr>
        <th>Filename</th>
        <th>Uploaded</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Size</th>
        <th>Processed / Total Lines</th>
        <th>Status</th>
    </tr></thead>
    <tbody>
    {% for import in data.imports %}
        <tr>
            <td><a href="{{ import.processorKey ? path('infinite_import_view', { id: import.id }) : path('infinite_import_process_process', { id: import.id, processor: processor.key }) }}">{{ import.filename }}</a></td>
            <td>{{ import.dateUploaded.format('c') }}</td>
            <td>{% if not import.dateStarted %}Not started{% else %}{{ import.dateStarted.format('c') }}{% endif %}</td>
            <td>{% if not import.dateFinished %}Not finished{% else %}{{ import.dateFinished.format('c') }}{% endif %}</td>
            <td>{{ import.size }} bytes</td>
            <td>{{ import.linesProcessed }} / {{ import.numLines }}</td>
            <td>{{ import.status | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock infinite_import_content %}
